-- AlterTable
ALTER TABLE "Product" ADD COLUMN     "originalPrice" DOUBLE PRECISION;

-- CreateTable
CREATE TABLE "ProductInfoText" (
    "id" TEXT NOT NULL,
    "productId" TEXT NOT NULL,
    "icon" TEXT,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ProductInfoText_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProductInfoTextTranslation" (
    "id" TEXT NOT NULL,
    "productInfoTextId" TEXT NOT NULL,
    "locale" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "subtitle" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ProductInfoTextTranslation_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "ProductInfoText_productId_active_sortOrder_idx" ON "ProductInfoText"("productId", "active", "sortOrder");

-- CreateIndex
CREATE UNIQUE INDEX "ProductInfoTextTranslation_productInfoTextId_locale_key" ON "ProductInfoTextTranslation"("productInfoTextId", "locale");

-- AddForeignKey
ALTER TABLE "ProductInfoText" ADD CONSTRAINT "ProductInfoText_productId_fkey" FOREIGN KEY ("productId") REFERENCES "Product"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductInfoTextTranslation" ADD CONSTRAINT "ProductInfoTextTranslation_productInfoTextId_fkey" FOREIGN KEY ("productInfoTextId") REFERENCES "ProductInfoText"("id") ON DELETE CASCADE ON UPDATE CASCADE;

